### General Settings
SECRET_KEY=

### Database
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
DB_HOST=
DB_PORT=

# Email Setttings
DEFAULT_FROM_EMAIL=

SAFE_EMAILS=

### API Tests
API_TEST_MANAGER_USERNAME=
API_TEST_MANAGER_PASSWORD=
API_TEST_CLIENT_USERNAME=
API_TEST_CLIENT_PASSWORD=
